## Question 17, 20, 21, 22

In [1]:
import pandas as pd

In [2]:
# print question 17, 20, 21, 22
salary_data = pd.read_csv('kaggle_survey_2020_responses.csv')

Q_17_20_21_22 = salary_data.iloc[:, list(range(82,94)) + list(range(107, 110))]
Q_17_20_21_22

,q17_part_1,q17_part_2,q17_part_3,q17_part_4,q17_part_5,q17_part_6,q17_part_7,q17_part_8,q17_part_9,q17_part_10,q17_part_11,q17_other,q20,q21,q22
0,NaN,Decision Trees or Random Forests,"Gradient Boosting Machines (xgboost, lightgbm,...",Bayesian Approaches,NaN,"Dense Neural Networks (MLPs, etc)",Convolutional Neural Networks,NaN,Recurrent Neural Networks,NaN,NaN,NaN,NaN,NaN,NaN
1,Linear or Logistic Regression,NaN,NaN,NaN,NaN,NaN,Convolutional Neural Networks,NaN,NaN,"Transformer Networks (BERT, gpt-3, etc)",NaN,NaN,"10,000 or more employees",20,"We have well established ML methods (i.e., mod..."
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1000-9,999 employees",0,No (we do not use ML methods)
3,Linear or Logistic Regression,Decision Trees or Random Forests,"Gradient Boosting Machines (xgboost, lightgbm,...",Bayesian Approaches,NaN,"Dense Neural Networks (MLPs, etc)",NaN,NaN,NaN,NaN,NaN,NaN,250-999 employees,5-9,"We have well established ML methods (i.e., mod..."
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20032,Linear or Logistic Regression,Decision Trees or Random Forests,NaN,NaN,NaN,"Dense Neural Networks (MLPs, etc)",Convolutional Neural Networks,NaN,NaN,"Transformer Networks (BERT, gpt-3, etc)",NaN,NaN,NaN,NaN,NaN
20033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0-49 employees,0,We are exploring ML methods (and may one day p...
20034,Linear or Logistic Regression,Decision Trees or Random Forests,"Gradient Boosting Machines (xgboost, lightgbm,...",NaN,NaN,"Dense Neural Networks (MLPs, etc)",Convolutional Neural Networks,NaN,Recurrent Neural Networks,NaN,NaN,NaN,"10,000 or more employees",20,"We recently started using ML methods (i.e., mo..."
20035,Linear or Logistic Regression,Decision Trees or Random Forests,NaN,NaN,NaN,"Dense Neural Networks (MLPs, etc)",Convolutional Neural Networks,NaN,NaN,NaN,NaN,NaN,0-49 employees,0,I do not know

In [3]:
# check the uniquess of each columns to see whether there exits some weried answer
for col in Q_17_20_21_22:
    print(Q_17_20_21_22[col].unique())

[nan 'Linear or Logistic Regression']
['Decision Trees or Random Forests' nan]
['Gradient Boosting Machines (xgboost, lightgbm, etc)' nan]
['Bayesian Approaches' nan]
[nan 'Evolutionary Approaches']
['Dense Neural Networks (MLPs, etc)' nan]
['Convolutional Neural Networks' nan]
[nan 'Generative Adversarial Networks']
['Recurrent Neural Networks' nan]
[nan 'Transformer Networks (BERT, gpt-3, etc)']
[nan 'None']
[nan 'Other']
[nan '10,000 or more employees' '1000-9,999 employees' '250-999 employees'
 '0-49 employees' '50-249 employees']
[nan '20' '0' '5-9' '1-2' '3-4' '10-14' '15-19']
[nan
 'We have well established ML methods (i.e., models in production for more than 2 years)'
 'No (we do not use ML methods)'
 'We use ML methods for generating insights (but do not put working models into production)'
 'We are exploring ML methods (and may one day put a model into production)'
 'We recently started using ML methods (i.e., models in production for less than 2 years)'
 'I do not know']

## Clean data with one column questions: Use one hot encoding

In [4]:
# select the question with just one column
Q_20_21_22 = Q_17_20_21_22[['q20', 'q21','q22']] 

# check the number of null values
missing_values = Q_20_21_22.isna().sum()/Q_20_21_22.shape[0]
missing_values

q20    0.430874
q21    0.436914
q22    0.444500
dtype: float64

In [5]:
# replace missing value with the category that occurs most frequently

Q_20_21_22['q20'].fillna(Q_20_21_22['q20'].mode()[0], inplace=True)
Q_20_21_22['q21'].fillna(Q_20_21_22['q21'].mode()[0], inplace=True)
Q_20_21_22['q22'].fillna(Q_20_21_22['q22'].mode()[0], inplace=True)
Q_20_21_22

/Users/lynn/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

,q20,q21,q22
0,0-49 employees,1-2,We are exploring ML methods (and may one day p...
1,"10,000 or more employees",20,"We have well established ML methods (i.e., mod..."
2,"1000-9,999 employees",0,No (we do not use ML methods)
3,250-999 employees,5-9,"We have well established ML methods (i.e., mod..."
4,0-49 employees,1-2,We are exploring ML methods (and may one day p...
...,...,...,...
20031,0-49 employees,1-2,We are exploring ML methods (and may one day p...
20032,0-49 employees,1-2,We are exploring ML methods (and may one day p...
20033,0-49 employees,0,We are exploring ML methods (and may one day p...
20034,"10,000 or more employees",20,"We recently started using ML methods (i.e., mo..."
20035,0-49 employees,0,I do not know

In [6]:
# one hot encoding for just question just having one colomn
cleaned_Q_20_21_22 = pd.get_dummies(Q_20_21_22, columns = ['q20', 'q21','q22'], drop_first = True)
cleaned_Q_20_21_22

,"q20_10,000 or more employees","q20_1000-9,999 employees",q20_250-999 employees,q20_50-249 employees,q21_1-2,q21_10-14,q21_15-19,q21_20,q21_3-4,q21_5-9,q22_No (we do not use ML methods),q22_We are exploring ML methods (and may one day put a model into production),"q22_We have well established ML methods (i.e., models in production for more than 2 years)","q22_We recently started using ML methods (i.e., models in production for less than 2 years)",q22_We use ML methods for generating insights (but do not put working models into production)
0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
1,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0
2,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0
4,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20031,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
20032,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
20033,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
20034,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0
20035,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Clean data with multiple column questions: Replace all non-NaN entries of a dataframe with 1 and all NaN with 0

In [7]:
# drop the question with just one column and we will do data clean with other quesitons excpet them
Q_17 = Q_17_20_21_22.drop(['q20', 'q21','q22'], axis=1)
Q_17

,q17_part_1,q17_part_2,q17_part_3,q17_part_4,q17_part_5,q17_part_6,q17_part_7,q17_part_8,q17_part_9,q17_part_10,q17_part_11,q17_other
0,NaN,Decision Trees or Random Forests,"Gradient Boosting Machines (xgboost, lightgbm,...",Bayesian Approaches,NaN,"Dense Neural Networks (MLPs, etc)",Convolutional Neural Networks,NaN,Recurrent Neural Networks,NaN,NaN,NaN
1,Linear or Logistic Regression,NaN,NaN,NaN,NaN,NaN,Convolutional Neural Networks,NaN,NaN,"Transformer Networks (BERT, gpt-3, etc)",NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Linear or Logistic Regression,Decision Trees or Random Forests,"Gradient Boosting Machines (xgboost, lightgbm,...",Bayesian Approaches,NaN,"Dense Neural Networks (MLPs, etc)",NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
20031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20032,Linear or Logistic Regression,Decision Trees or Random Forests,NaN,NaN,NaN,"Dense Neural Networks (MLPs, etc)",Convolutional Neural Networks,NaN,NaN,"Transformer Networks (BERT, gpt-3, etc)",NaN,NaN
20033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20034,Linear or Logistic Regression,Decision Trees or Random Forests,"Gradient Boosting Machines (xgboost, lightgbm,...",NaN,NaN,"Dense Neural Networks (MLPs, etc)",Convolutional Neural Networks,NaN,Recurrent Neural Networks,NaN,NaN,NaN
20035,Linear or Logistic Regression,Decision Trees or Random Forests,NaN,NaN,NaN,"Dense Neural Networks (MLPs, etc)",Convolutional Neural Networks,NaN,NaN,NaN,NaN,NaN

In [8]:
# replace all non-NaN entries of a dataframe with 1 and all NaN with 0
newdf = Q_17.notnull().astype('int')
#newdf.drop('q17_other')
newdf

#newdf.drop('q17_other')
cleaned_Q_17 = newdf.drop(['q17_other'], axis=1)
cleaned_Q_17

,q17_part_1,q17_part_2,q17_part_3,q17_part_4,q17_part_5,q17_part_6,q17_part_7,q17_part_8,q17_part_9,q17_part_10,q17_part_11
0,0,1,1,1,0,1,1,0,1,0,0
1,1,0,0,0,0,0,1,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
20031,0,0,0,0,0,0,0,0,0,0,0
20032,1,1,0,0,0,1,1,0,0,1,0
20033,0,0,0,0,0,0,0,0,0,0,0
20034,1,1,1,0,0,1,1,0,1,0,0
20035,1,1,0,0,0,1,1,0,0,0,0

## Combine these two parts into one dataframe

In [9]:
Combined_Cleaned_Q_17_20_21_22 = pd.concat([cleaned_Q_17, cleaned_Q_20_21_22], axis=1, join='inner')
Combined_Cleaned_Q_17_20_21_22

,q17_part_1,q17_part_2,q17_part_3,q17_part_4,q17_part_5,q17_part_6,q17_part_7,q17_part_8,q17_part_9,q17_part_10,...,q21_10-14,q21_15-19,q21_20,q21_3-4,q21_5-9,q22_No (we do not use ML methods),q22_We are exploring ML methods (and may one day put a model into production),"q22_We have well established ML methods (i.e., models in production for more than 2 years)","q22_We recently started using ML methods (i.e., models in production for less than 2 years)",q22_We use ML methods for generating insights (but do not put working models into production)
0,0,1,1,1,0,1,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1,1,0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1,1,1,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20031,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
20032,1,1,0,0,0,1,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
20033,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
20034,1,1,1,0,0,1,1,0,1,0,...,0,0,1,0,0,0,0,0,1,0
20035,1,1,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
Combined_Cleaned_Q_17_20_21_22.to_csv('Lin_CleanedData_Q17_20_21_22.csv', index=False)